ul li {
	font-family: cursive;
	color: grey;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 5px 5px 5px 5px;
}

.cities:hover {
	background-color: aquamarine;
}

.week-days:hover {
	background-color: cadetblue;
	color: azure;
}
